tr {
    text-align: left;
}

ul, li {
    list-style-type: none;
}

#exit-job-button {
    background-color: rgb(184, 0, 0);
    font-size: 12px;
    padding: 4px 0px;
    position: relative;
    float: right;
}

#edit-notes-button, #edit-status-button, #finish-edit-notes-button, #finish-edit-status-button, #new-note-button {
    width: 30%;
    font-size: 12px;
    margin: 0px 10px;
}